@page "/forms"
@inherits FormsModel
@using BlazorComponents.Examples.Components;

<TitlePage>Forms</TitlePage>

<div class="preview-box">
    <h2>FieldText</h2>

    <SectionBox HasRow="true">
        <FieldText Col="3" Model="PersonExample" Label="@nameof(PersonObj.Name)" @bind-Value="PersonObj.Name" />
        <FieldText Col="3" Model="PersonExample" Label="@nameof(PersonObj.Surname)" @bind-Value="PersonObj.Surname" />
    </SectionBox>

    <CodeBox>
        &lt;FieldText Col="3" Model="PersonExample" Label="&#64;nameof(PersonObj.Name)" &#64;bind-Value="PersonObj.Name" /&gt;<br />
        &lt;FieldText Col="3" Model="PersonExample" Label="&#64;nameof(PersonObj.Surname)" &#64;bind-Value="PersonObj.Surname" /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>

<div class="preview-box">
    <h2>FieldNumber</h2>

    <SectionBox HasBox="true">
        <FieldNumber Col="2" Model="PersonExample" ValueType="int" Label="@nameof(PersonObj.Age)" @bind-Value="PersonObj.Age" />
    </SectionBox>

    <CodeBox>
        &lt;FieldNumber Col="2" Model="PersonExample" ValueType="int" Label="&#64;nameof(PersonObj.Age)" &#64;bind-Value="PersonObj.Age" /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>

<div class="preview-box">
    <h2>FieldDate</h2>

    <SectionBox HasRow="true">
        <FieldDate Col="3" Model="PersonExample" ValueType="DateTime" Label="@nameof(PersonObj.Birthday)" @bind-Value="PersonObj.Birthday" />
    </SectionBox>

    <CodeBox>
        &lt;FieldDate Col="3" Model="PersonExample" ValueType="DateTime" Label="&#64;nameof(PersonObj.Birthday)" &#64;bind-Value="PersonObj.Birthday" /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>

<div class="preview-box">
    <h2>FieldCheckbox</h2>

    <SectionBox>
        <FieldCheckbox Model="PersonExample" Label="@nameof(PersonObj.IsProgrammer)" Display="inline-block" @bind-Value="PersonObj.IsProgrammer" />
        <FieldCheckbox Model="PersonExample" Label="@nameof(PersonObj.IsActive)" Display="inline-block" @bind-Value="PersonObj.IsActive" />
    </SectionBox>

    <CodeBox>
        &lt;FieldCheckbox Model="PersonExample" Label="&#64;nameof(PersonObj.IsProgrammer)" Display="inline-block" &#64;bind-Value="PersonObj.IsProgrammer" /&gt;<br/>
        &lt;FieldCheckbox Model="PersonExample" Label="&#64;nameof(PersonObj.IsActive)" Display="inline-block" &#64;bind-Value="PersonObj.IsActive" /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>

<div class="preview-box">
    <h2>FieldRadioGroup</h2>

    <SectionBox>
        <FieldRadioGroup Context="r" @bind-Value="PersonObj.Gender" Display="block">
            <FieldRadioButton ContextGroup="@r" Label="Masculino" Value="m" />
            <FieldRadioButton ContextGroup="@r" Label="Feminino" Value="f" />
            <FieldRadioButton ContextGroup="@r" Label="Outro" Value="o" />
        </FieldRadioGroup>
    </SectionBox>

    <CodeBox>
        &lt;FieldRadioGroup Context="r" &#64;bind-Value="Obj.Gender" Display="block"&gt;<br />
        &nbsp; &nbsp; &lt;FieldRadioButton ContextGroup="&#64;r" Label="Masculino" Value="m" /&gt;<br />
        &nbsp; &nbsp; &lt;FieldRadioButton ContextGroup="&#64;r" Label="Feminino" Value="f" /&gt;<br />
        &nbsp; &nbsp; &lt;FieldRadioButton ContextGroup="&#64;r" Label="Outro" Value="o" /&gt;<br />
        &lt;FieldRadioGroup/&gt;
    </CodeBox>

    <div class="clearfix" />
</div>